Header always set Content-Security-Policy: "default-src 'self';\
  script-src 'self' 'unsafe-inline';\
  font-src https://fonts.gstatic.com/;\
  style-src 'self' 'unsafe-inline' https://fonts.googleapis.com/; \
  connect-src https: ;"

Header set Access-Control-Allow-Origin: https://semsec.hepl-e-business.be

Header set Strict-Transport-Security: max-age=31536000